@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.hidden {
    display: none;
}

.nav-item {
    margin-bottom: 5px;
}

.nav-play {
    margin-left: 10px;
}

.nav-expand {
    margin-left: 10px;
}

.active {
    background-color: yellow;
}
