@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary: #4c662b;
    --on-primary: #ffffff;
    --primary-container: #cdeda3;
    --on-primary-container: #102000;

    --secondary: #586249;
    --on-secondary: #ffffff;
    --secondary-container: #dce7c8;
    --on-secondary-container: #151e0b;

    --tertiary: #386663;
    --on-tertiary: #ffffff;
    --tertiary-container: #bcece7;
    --on-tertiary-container: #00201e;

    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #410002;

    --surface: #f9faef;
    --on-surface: #1a1c16;
    --surface-dim: #dadbd0;
    --surface-bright: #f9faef;
    --outline: #75796c;
    --surface-container: #eeefe3;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--surface);
    font-size: medium;
}

.hidden {
    display: none !important;
}


.card {
    background-color: var(--surface-container);
    border-radius: 12px;
    padding: 16px;
    margin: 8px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));

    h1 {
        font-size: larger;
        color: var(--on-surface);
    }
}

.top-app-bar {
    background-color: var(--on-surface);
    color: var(--surface);
    padding: 8px;

    h1{
        font-size: xx-large;
        text-align: center;
    }
}

.instructions{
    font-size: larger;
    padding: 8px;
}


.nav-item {
    margin-bottom: 5px;
}

.nav-play {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: 100px;
}

.nav-expand {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--tertiary);
    color: var(--on-tertiary);
    border-radius: 100px;
}

.active {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

#map-screen {
    /* display: grid; */
    /* grid-template-columns: 4fr 1fr;*/
    height: 100%;
    width: 100%;
    position: fixed;
}

#map {
    width: 100%;
    height: calc(100vh - 140px);
}

#map-side-panel,
#map-title-panel {
    width: 100%;
    text-align: center;
}

#map-side-panel {
    height: auto;
    color: var(--on-primary-container);
    background-color: var(--primary-container);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 8px;
}

#map-title-panel {
    height: auto;
    color: var(--on-tertiary);
    background-color: var(--tertiary);
    font-size: larger;
    padding: 8px;
}

.text-button {
    color: var(--tertiary);
    border: none;
    background-color: inherit;
    font-weight: bold;
}

.show-button {
    color: var(--on-primary-container);
    background-color: inherit;
    border: none;
    text-decoration: underline;
    margin-left: 50px;
}