@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.nav-item {
    margin-bottom: 5px;
}

.nav-play {
    margin-left: 10px;
}

.nav-expand {
    margin-left: 10px;
}

#map-screen {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
}
